*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
background-color: aquamarine;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;


}

form{
background-color: blue;
height: 400px;
width: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
input{
margin: 10px;
padding: 10px;
width: 250px;
height: 30px;

}
button{
    margin: 10px;
    padding: 10px;
    width: 150px;
    height:30px;
    background-color: royalblue;
    color: white;
    border: none;
    cursor: pointer;
    transa





}
    